<!-- Breadcrumb -->
<nav class="container py-3" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a href="<%= root_path %>"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @page_title %></li>
  </ol>
</nav>