<% @jarallax_height ||= 200 %>
<% @jarallax_speed ||= 0.6 %>

<div class="jarallax d-none d-sm-block" data-jarallax data-speed="<%= @jarallax_speed %>">
  <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary-translucent"></span>
  <div class="jarallax-img" style="background-image: url(<%= asset_path(@jarallax) %>);"></div>
  <div style="height: <%= @jarallax_height %>px;"></div>
</div>
