<% @jarallax_height ||= 200 %>
<% @jarallax_speed ||= 0.6 %>
<% @jarallax_extra_class ||= "" %>

<div class="jarallax <%= @jarallax_extra_class %> d-none d-sm-block" data-jarallax data-speed="<%= @jarallax_speed %>">
  <% unless @jarallax_hide_overlay %>
    <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary-translucent"></span>
  <% end %>
  <div class="jarallax-img" style="background-image: url(<%= asset_path(@jarallax) %>);"></div>
  <div style="height: <%= @jarallax_height %>px;"></div>
</div>
