<div class="container col-xxl-8 px-4 py-1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <div class="map-container">
                <div id="map"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Gelbhart Innovations</h1>
            <p class="lead">
                Via Giuseppe Motta 9, 6826 Riva San Vitale, Switzerland<br>
                <a href = "mailto: info@gelbhart.com">info@gelbhart.com</a><br>
                <a href="tel: +41797658422">+41 797658422</a><br>
            </p>
        </div>
    </div>
</div>