<hr class="featurette-divider">
<div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">General</h2>
            <p class="text-muted">
                Gelbhart Innovations was incorporated in 2016 as a sole proprietary in canton Ticino, Switzerland with the number CHE.358.618.130 at the register of commerce (Registro Di Commercio Del Cantone Ticino).
            </p>
        </div>
    <div class="col-md-5">
        <img src="/images/general.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice">
    </div>
</div>

<hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Scope</h2>
            <p class="lead">
                The official scope of Gelbhart Innovations (translated from Italian):<br>
                <p class ="text-muted"> 
                    The recruitment and development of design and consulting mandates in civil engineering. The company also offers services in the field of commercial development for customers active in the engineering and pharmaceutical sectors. It can participate in other companies and companies. It can acquire and own property, both in Switzerland and abroad. It may also engage in all commercial activities (including the purchase and resale of materials, equipment, machinery), financial or otherwise, including the registration of patents, which are related to the purpose of the company.
                </p>
            </p>
        </div>
    <div class="col-md-5">
        <img src="/images/scope.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice">
    </div>
</div>

<hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Corporate Address</h2>
            <p class="text-muted">
                Gelbhart Innovations<br>
                Via Giuseppe Motta 9<br>
                6826 Riva San Vitale<br>
                SWITZERLAND
            </p>
        </div>
    <div class="col-md-5">
        <img src="/images/address.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice">
    </div>
</div>
    
<hr class="featurette-divider">