<div class="home">
  <img src="/images/logotext.png" class="rounded mx-auto d-block" alt="">
  <p class="lead text-center">Pharmaceutical Consultancy: 
  	<br>
  	Due diligence, commercial partners, business development, contracting, generic orphan drugs.
  </p>
  <div class="d-grid text-center">
  	<a href="home/services" class="btn btn-danger" type="button">Learn More</a>
  </div>
</div>