<div class="home">
  <img src="/images/logotext.png" class="rounded mx-auto d-block" alt="">
  <p class="text-center">Pharmaceutical Consultancy: 
  	<br>
  	Due diligence, commercial partners, business development, contracting, generic orphan drugs.
  </p>
  <br>
</div>