<div class="px-4 text-center border-bottom">
    <div class="container px-5">
        <img src="/images/logotext.png" class="rounded mx-auto d-block" alt="">
    </div>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-1">
            Pharmaceutical Consultancy:
            <p class="text-muted">
                Due diligence, commercial partners, business development, contracting, generic orphan drugs.
            </p>
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="home/services" class="btn btn-danger" type="button">Learn More</a>
        </div>
    </div>
</div>