<style>

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
    font-family: 'Cabin';
  }

  .marketing .col-lg-4 h3 {
    font-size: 20px;
    margin: 15px 0;
    font-family: 'Cabin';
  }
  
  .marketing .col-lg-4 h4 {
    font-size: 16px;
    margin: 30px 0;
    font-weight: normal;
    font-family: 'Cabin';
  }
  
  .marketing .col-lg-4 h5 {
    font-size: 13px;
    margin: 15px 0;
    font-weight: normal;
    font-family: 'Cabin';
  }

</style>

<div class="container marketing">
  <div class="row">

    <div class="col-lg-4">
      <img src="/images/diligence.png" class="bd-placeholder-img rounded-circle" width="200" height="200" preserveAspectRatio="xMidYMid slice">
      <h3 class="fw-normal">Due Diligence</h3>
      <p>
        <h4>Are you considering to purchase a new pharmaceutical asset, be it a product or a company?</h4>
        <h5>With more than 27 years of experience in the pharmaceutical industry, we provide assistance and advice in relation to any due diligence of a pharmaceutical product and a pharmaceutical company, including assessment, evaluation, structuring, negotiation and completion of a potential investment.</h5>
      </p>
    </div>

    <div class="col-lg-4">
      <img src="/images/business.png" class="bd-placeholder-img rounded-circle" width="200" height="200" preserveAspectRatio="xMidYMid slice">
      <h3 class="fw-normal">Business Development (Partnerships)</h3>
      <p>
        <h4>Are you developing a new product and looking for the best partner or looking to license out your product?</h4>
        <h5>With our industry experience and knowledge, we can find the right partner to your API, FDF and/or Orphan Generic Drug worldwide.</h5>
      </p>
    </div>

    <div class="col-lg-4">
      <img src="/images/portfolio.png" class="bd-placeholder-img rounded-circle" width="200" height="200" preserveAspectRatio="xMidYMid slice">
      <h3 class="fw-normal">Portfolio</h3>
      <p>
        <h4>Looking for a new molecule but don’t know where to start?</h4>
        <h5>With our chemistry background and industry knowledge, we can help you find the right molecules to develop, whether they are small niche molecules or future blockbusters, bread & butter or pearls. We will define the strategy for development after considering  intellectual property, pricing and competition.</h5>
      </p>
    </div>

  </div>
  <div class="row">

    <div class="col-lg-4">
      <img src="/images/strategy.png" class="bd-placeholder-img rounded-circle" width="200" height="200" preserveAspectRatio="xMidYMid slice">
      <h3 class="fw-normal">Strategy</h3>
      <p>
        <h4>Not sure which road your company should follow?</h4>
        <h5>We will research and identify the market needs and market potential to develop business opportunities for the company's portfolio. We will then locate new customers and new markets in which the company’s potential is not yet fully realized. We will evaluate the current sales team and recommend the right structure, identify sales personnel and train them. After reviewing agencies network we will recommend, where and if to work through agents or directly. We will define ideal pipeline process, KPIs and organization, and evaluate competitors' status.</h5>
      </p>
    </div>

    <div class="col-lg-4">
      <img src="/images/drugs.png" class="bd-placeholder-img rounded-circle" width="200" height="200" preserveAspectRatio="xMidYMid slice">
      <h3 class="fw-normal">Generic Orphan Drugs</h3>
      <p>
        <h4>Are you developing a Generic Orphan Drug?</h4>
        <h5>In many cases, it means investing in the development of a small niche product, but that doesn’t mean the market potential is also small. Every market has its own rules for Orphan Drugs and in many cases the brand product is not approved or not marketed in a specific location. We will Identify the relevant markets & find the right local partners, doctors (KOLs), patients and patient associations to allow you to offer your product in a fast and effective way, realizing profits in early stages of the development.</h5>
      </p>
    </div>

    <div class="col-lg-4">
      <img src="/images/products.png" class="bd-placeholder-img rounded-circle" width="200" height="200" preserveAspectRatio="xMidYMid slice">
      <h3 class="fw-normal">Launch of New Products</h3>
      <p>
        <h4>Marketing authorization is just around the corner but the product is not yet ready for launch?</h4>
        <h5>We will evaluate the situation and direct your suppliers (API and/or FDF) on how to develop their capacity, open bottlenecks, solve quality problems in the manufacturing procedures quickly and effectively to enable a smooth and timely launch.</h5>
      </p>
    </div>
    
  </div>
</div>