<!-- Jarallax -->
<%= render 'shared/jarallax' %>

<!-- Branches -->
<section class="container px-3 px-sm-4">
    <%= render 'shared/breadcrumb' %>
    <div class="row py-3 py-sm-4 py-md-5">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            <div class="d-flex flex-column h-100 shadow-sm rounded-3 overflow-hidden contact-map-wrapper">
                <iframe class="d-block w-100 h-100 contact-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11105.540609364607!2d8.966258838391106!3d45.90360883759438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47842973164cf711%3A0x2d91b98d1d5f95c2!2sVia%20Giuseppe%20Motta%209%2C%206826%20Riva%20San%20Vitale!5e0!3m2!1sen!2sch!4v1661011079847!5m2!1sen!2sch" style="border: 0; min-height: 300px;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="col-12 col-lg-5 offset-lg-1">
            <h2 class="h4 h5-sm mb-3 mb-sm-4">Gelbhart Innovations</h2>
            <ul class="list-unstyled pb-2 pb-lg-0 mb-4 mb-lg-5">
                <li class="d-flex pb-2 pb-sm-1 mb-2 align-items-start">
                    <i class="bx bx-map text-primary fs-xl fs-lg-xl me-2 me-sm-3 flex-shrink-0" style="margin-top: .125rem;"></i>
                    <span class="fs-sm fs-md-base">Via Giuseppe Motta, 9, Riva san Vitale</span>
                </li>
                <li class="d-flex pb-2 pb-sm-1 mb-2 align-items-start">
                    <i class="bx bx-phone-call text-primary fs-xl fs-lg-xl me-2 me-sm-3 flex-shrink-0" style="margin-top: .125rem;"></i>
                    <a href="tel:+41797658422" class="text-decoration-none fs-sm fs-md-base">+41 79 765 84 22</a>
                </li>
                <li class="d-flex pb-2 pb-sm-1 mb-2 align-items-start">
                    <i class="bx bx-envelope text-primary fs-xl fs-lg-xl me-2 me-sm-3 flex-shrink-0" style="margin-top: .125rem;"></i>
                    <a href="mailto:info@gelbhart.com" class="text-decoration-none fs-sm fs-md-base">info@gelbhart.com</a>
                </li>
                <li class="d-flex align-items-start">
                    <i class="bx bx-time-five text-primary fs-xl fs-lg-xl me-2 me-sm-3 flex-shrink-0" style="margin-top: .125rem;"></i>
                    <div class="fs-sm fs-md-base">
                        <strong class="text-nav">Mon - Fri</strong>: 8:00 am - 17:00 pm
                        <br>
                        <strong class="text-nav">Sat - Sun</strong>: Closed
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
