<!-- Hero -->
<section class="position-relative d-flex align-items-center bg-light min-vh-100" style="padding-top: 100px;">
  <div class="container">
    <div class="row justify-content-center">

      <!-- Animated gfx -->
      <div class="col-10 col-sm-8 col-md-6 col-lg-5 text-center mb-4">
        <img src="<%= asset_path("logo.png") %>" alt="Gelbhart Innovations Logo" class="img-fluid" style="max-width: 250px;">
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-5">
        <h1 class="display-4 text-center">
          GELBHART <span class="text-gradient-primary">INNOVATIONS</span>
        </h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-5 pt-1">
        <h5 class="text-center">
          INNOVATIVE SOLUTIONS <br> CREATING VALUE
        </h1>
      </div>
    </div>

  </div>
</section>