/* General */
body {
    font-family: 'Cabin';
}

.main {
    text-align: center;
}

a.info {
    color: red;
}

/* Header */
.navbar-nav .nav-item {
    font-size: 20px;
    margin: 0 10px;
}

.navbar-nav .nav-item.active .nav-link, .navbar-nav .nav-item:hover .nav-link {
    color: red;
}

.logo {
    margin: 20px 0;
    letter-spacing: 3px;
    font-size: 13px;
    font-family: 'Cabin';
    text-align: center;
}

.logo img {
    width: 100px;
}

.logo p {
    margin: 15px 0;
}

/* Footer */
.card-footer {
    text-align: center;
}

/* The Team */
.album .row .col p.title {
    font-size: 25px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

p.card {
    font-family: 'Cabin';
    font-size: 15px;
}

/* Corporate */
.featurette-divider {
    margin: 5rem 0;
}
  
.featurette-heading {
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
        font-family: 'Cabin';
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


/* Contact Us */
.socials {
    font-size: 40px;
    word-spacing: 100px;
}

.fa:hover {
    opacity: 0.7;
}