<%= render 'shared/jarallax' %>

<div class="bg-secondary">
  <%= render 'shared/breadcrumb' %>

  <section class="container py-2 pb-md-4 pb-lg-5 px-3 px-sm-4">
    <h1 class="pb-3 pb-sm-4 fs-2 fs-sm-1"><%= @title.split(' / ').first %></h1>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <%= yield %>
      </div>
    </div>
  </section>
</div>
