<div>

    <!-- Breadcrumb -->
    <div class="py-3">
        <%= render 'shared/breadcrumb' %>
    </div>

    <!-- Document Content -->
    <section class="container text-center text-sm-start">
        <h1 class="d-inline border-bottom"><%= @title.split(' / ').first %></h1>
        <div class="mt-3 mx-3 d-block pb-5 col-lg-8">
            <%= yield %>
        </div>
    </section>

</div>